.carousel-inner {
    display: flex;
    align-items: center;
    max-width: 1400px;
    height: 500px;
}
.carousel-inner img {
height: 500px;
}
.card {
  cursor:pointer;
}
.card-body .a {
    display: flex;
    justify-content: flex-end;
}
.card:hover {
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.2);
}
.dark span{
  background-color: white;
}
.dark li {
  color: white;
  background-color: white;
}
.dark {
    background-color: #222;
    color: #fff;
  }

  
  /* Estilos para o tema light (opcional) */
  .light {
    background-color: #fff;
    color: #222;
  }

  #dadosSalvos {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f5f5f5;
  }

  /* Estilo para os botões de editar e excluir */
  .editar,
  .excluir {
    margin-top: 5px;
    margin-right: 5px;
  }