.DivFora{
    display: flex;
    flex-direction: column;
    margin: 2%;
}

.row{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;

}

.Card{
    width: 30%;
    margin: 1%;
}
.btn-success {
    background-color: #28a745;
    border-color: #28a745;
    color: #fff;
}

.btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    color: #fff;
}

.btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
}

/* Ensure all cards are the same height */
.card {
    display: flex;
    flex-direction: column;
}

.card-body {
    flex: 1; /* This ensures that the body takes up available space */
}

/* Add space between elements and ensure full-width buttons */
.card-text {
    margin-bottom: 0.5rem; /* Space between lines of text */
}

.btn {
    width: 100%; /* Ensure buttons take full width */
}

.DivFora {
    padding: 20px;
}

h1.my-4 {
    margin-bottom: 1.5rem; /* Space below the heading */
}

.top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.custom-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background-color: #007bff;
    border: 1px solid #007bff;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.custom-button:hover {
    background-color: #0056b3;
    border-color: #004085;
    color: #fff;
}

.custom-button:focus, .custom-button:active {
    outline: none;
    box-shadow: none;
}

.custom-button:disabled {
    background-color: #c0c0c0;
    border-color: #c0c0c0;
    color: #6c757d;
}

.btn-edit {
    display: inline-block;
    padding: 8px 0.1px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    background-color: #17a2b8; /* Cor do botão */
    border: 1px solid #17a2b8;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s, transform 0.2s;
}

.btn-edit:hover {
    background-color: #138496; /* Cor ao passar o mouse */
    border-color: #117a8b;
    color: #fff;
    transform: translateY(-2px); /* Efeito de elevação */
}

.btn-edit:focus, .btn-edit:active {
    outline: none;
    box-shadow: none;
}

.btn-edit:disabled {
    background-color: #c0c0c0;
    border-color: #c0c0c0;
    color: #6c757d;
}


.btn-delete {
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    background-color: #dc3545; /* Cor do botão */
    border: 1px solid #dc3545;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s, transform 0.2s;
}

.btn-delete:hover {
    background-color: #c82333; /* Cor ao passar o mouse */
    border-color: #bd2130;
    color: #fff;
    transform: translateY(-2px); /* Efeito de elevação */
}

.btn-delete:focus, .btn-delete:active {
    outline: none;
    box-shadow: none;
}

.btn-delete:disabled {
    background-color: #c0c0c0;
    border-color: #c0c0c0;
    color: #6c757d;
}